.App {

}

.custom-color-navbar {
  background-color: #77C3DB !important;
}

.search-button {
  background-color: rgb(255,22,149) !important;
}

.search-button:hover {
  background-color: rgb(120,195,219) !important;
}

.suggestionLinks {
  background-color: rgb(255,22,149);
}

.suggestionLinks:hover {
  background-color: rgb(120,195,219);
  cursor: pointer;
}
